<div id="filter-form">
<fieldset>
<% form_tag({ }, { :method => :get })do |f|  %>

<p id="date-options">
  <label><%= l(:label_date)%>:</label><br />
  <%= radio_button_tag 'period_type', '1', !@free_period %>
  <%= select_tag 'period', options_for_period_select(params[:period]),
                           :onfocus => '$("period_type_1").checked = true;' %>
  <br /><br />

  <%= radio_button_tag 'period_type', '2', @free_period %>
  <span onclick="$('period_type_2').checked = true;">
    <label for="vendor_invoice_filter_date_from"><%= l(:label_date_from)%>:</label><br />
    <%= text_field :vendor_invoice_filter, "date_from", :size => 10, :value => @vendor_invoice_filter.date_from %><%= calendar_for('vendor_invoice_filter_date_from') %><br />

    <label for="vendor_invoice_filter_date_to"><%= l(:label_date_to)%>:</label><br />
    <%= text_field :vendor_invoice_filter, "date_to", :size => 10, :value => @vendor_invoice_filter.date_to %><%= calendar_for('vendor_invoice_filter_date_to') %>
  </span>
</p>

<p>
  <label for="vendor_invoice_filter[projects][]"><%= l(:label_project)%>:</label><br />
  <%= select_tag 'vendor_invoice_filter[projects][]', 
      project_tree_options_for_select_with_multiple_selected(@vendor_invoice_filter.allowed_projects, @vendor_invoice_filter.projects),
    { :multiple => true, :size => 8}
  %>
</p>
             
<p>
  <label for="vendor_invoice_filter[activities][]"><%= l(:label_activity)%>:</label><br />
  <%= select_tag 'vendor_invoice_filter[activities][]',
    options_from_collection_for_select(Enumeration::get_values('ACTI'), :id, :name, @vendor_invoice_filter.activities),
    { :multiple => true, :size => 8}
  %>
</p>

<p>
  <label for="vendor_invoice_filter[users][]"><%= l(:label_user)%>:</label><br />
  <%= select_tag 'vendor_invoice_filter[users][]',
    options_from_collection_for_select(User.find(:all).sort { |a,b| a.to_s.downcase <=> b.to_s.downcase }, :id, :name, @vendor_invoice_filter.users.collect(&:id)),
    { :multiple => true, :size => 8}

           %>
</p>

<p>
  <label for="vendor_invoice_filter[billing_status][]"><%= l(:field_billing_status)%>:</label><br />
  <%= select_tag 'vendor_invoice_filter[billing_status][]',
    options_for_select(BillingStatus.to_array_of_strings, @vendor_invoice_filter.billing_status),
    { :multiple => true, :size => 8}

           %>
</p>


<div class="clear"></div>
<%= submit_tag l(:button_apply),:class => 'button-small' -%> <%= link_to l(:button_clear), accounts_payables_path %>

<% end %>
</fieldset>
</div>

<% content_for(:header_tags) do %>
<style type="text/css">

div#filter-form p { padding:0px 10px; float:left; }
div#filter-form #date-options { margin-left: 10px; }
div#filter-form #date-options input[type='radio'] { margin-left: -20px; }
</style>
<% end %>
