<div id="filter-form">
<fieldset>
<% form_tag({ }, { :method => :get })do |f|  %>

<p>
  <label for="vendor_invoice_filter_date_from"><%= l(:vendor_invoice_filter_date_from_label)%>:</label><br />
  <%= text_field :vendor_invoice_filter, "date_from", :size => 10, :value => @vendor_invoice_filter.date_from %><%= calendar_for('vendor_invoice_filter_date_from') %><br /><br />

  <label for="vendor_invoice_filter_date_to"><%= l(:vendor_invoice_filter_date_to_label)%>:</label><br />
  <%= text_field :vendor_invoice_filter, "date_to", :size => 10, :value => @vendor_invoice_filter.date_to %><%= calendar_for('vendor_invoice_filter_date_to') %>
</p>

<p>
  <label for="vendor_invoice_filter[billing_status][]"><%= l(:vendor_invoice_filter_billing_status)%>:</label><br />
  <%= select_tag 'vendor_invoice_filter[billing_status][]',
    options_for_select(BillingStatus.to_array_of_strings, @vendor_invoice_filter.billing_status),
    { :multiple => true, :size => 5}

           %>
</p>


<div class="clear"></div>
<%= submit_tag l(:button_apply),:class => 'button-small' -%>

<% end %>
</fieldset>
</div>

<% content_for(:header_tags) do %>
<style type="text/css">

div#filter-form p { padding:0px 10px; float:left; }

</style>
<% end %>
