<div class="contextual">
  <%= link_to l(:billing_invoice_title_plural), accounts_payables_path %>
  <%= link_to l(:billing_create_new_vendor_invoice), new_accounts_payable_path %>
  <%= link_to l(:billing_vendor_invoice_hours), :controller => 'timesheet', :action => 'report', :timesheet => { :vendor_invoice => @vendor_invoice.id } %>
</div>

<h2><%= l(:billing_new_invoice_title)%></h2>

<% labelled_tabular_form_for(:vendor_invoice,
                             @vendor_invoice,
                             :url => @vendor_invoice.new_record? ? accounts_payables_path() : accounts_payable_path(@vendor_invoice),
                             :html => { :method => @vendor_invoice.new_record? ? :post : :put}) do |f| %>

<fieldset>
<%= error_messages_for 'vendor_invoice' %>

<% @vendor_invoice.time_entry_ids.each do |entry| %>
<%= hidden_field_tag 'time_entry_ids[]', entry %>
<% end %>

<p>
  <%= f.text_field :number, :size => 10, :required => true %>
</p>
<p>
  <%= f.text_field :invoiced_on, :size => 10, :required => true %><%= calendar_for('vendor_invoice_invoiced_on') %>
</p>
<p>
<%= f.select :user_ids, User.find(:all).collect { |u| [u.name, u.id]}, { },{ :multiple => true, :size => 5} %>
</p>
<p>
  <%= f.text_field :comment %>
</p>
<p>
  <%= f.select :billing_status, BillingStatus.to_array, { :required => true, :selected => @vendor_invoice.billing_status_id} %>
</p>
<p>
  <%= f.text_field :amount %> <small>Enter only for Fixed Rate Invoices</small>
</p>
<p>
  <%= f.select :project_id, User.current.projects.find(:all).collect { |p| [p.name, p.id]}, { :include_blank => true }%> <small>Enter only for Fixed Rate Invoices</small>
</p>
</fieldset>

<%= f.submit l(:button_save), :class => 'button-small'  %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "billing.css", :plugin => "billing_plugin", :media => "screen" %>
<% end %>
