<h2><%= l(:billing_new_invoice_title)%></h2>

<% labelled_tabular_form_for(:vendor_invoice, @vendor_invoice, :url => accounts_payables_path(), :method => :post) do |f| %>

<fieldset>
<%= error_messages_for 'vendor_invoice' %>
<p>
  <%= f.text_field :number %>
</p>
<p>
  <%= f.text_field :invoiced_on %><%= calendar_for('vendor_invoice_invoiced_on') %>
</p>
<p>
  <label for="vendor_invoice[users][]"><%= l(:field_users)%></label>
  <%= select_tag 'vendor_invoice[users][]',
    options_from_collection_for_select(User.find(:all), :id, :name, @vendor_invoice.users.collect(&:id)),
    { :multiple => true, :size => 5}
  %>
</p>
<p>
  <%= f.text_field :comment %>
</p>
<p>
  <%= f.select :billing_status, BillingStatus.to_array %>
</p>
<p>
  <%= f.text_field :amount %>
</p>
<p>
  <%= f.text_field :hours %>
</p>
<p>
  <%= f.select :type, BillingType.to_array %>
</p>
</fieldset>

<%= f.submit l(:button_save), :class => 'button-small'  %>
<% end %>
