<div class="contextual">
  <%= link_to l(:billing_invoice_title_plural), accounts_payables_path, { :class => 'icon icon-invoices'}  %>
  <%= link_to l(:billing_create_new_vendor_invoice), new_accounts_payable_path, { :class => 'icon icon-add-invoice'} %>
  <%= link_to(l(:billing_vendor_invoice_hours), { :controller => 'timesheet', :action => 'report', :timesheet => { :vendor_invoice => @vendor_invoice.id }}, { :class => 'icon icon-invoice-hours'} ) unless @vendor_invoice.new_record? %>
</div>

<% if @vendor_invoice.fixed? %>
<h2><%= l(:billing_fixed_invoice_title)%></h2>
<% else %>
<h2><%= l(:billing_hourly_invoice_title)%></h2>
<% end %>
<% labelled_tabular_form_for(:vendor_invoice,
                             @vendor_invoice,
                             :url => @vendor_invoice.new_record? ? accounts_payables_path() : accounts_payable_path(@vendor_invoice),
                             :html => { :method => @vendor_invoice.new_record? ? :post : :put}) do |f| %>

<fieldset>
<%= error_messages_for 'vendor_invoice' %>

<% @vendor_invoice.time_entry_ids.each do |entry| %>
<%= hidden_field_tag 'time_entry_ids[]', entry %>
<% end %>

<%= f.hidden_field :type %>

<p>
  <%= f.text_field :number, :size => 10, :required => true %>
</p>
<p>
  <%= f.text_field :invoiced_on, :size => 10, :required => true %><%= calendar_for('vendor_invoice_invoiced_on') %>
</p>
<p>
<%= f.select :user_ids, User.find(:all).sort { |a,b| a.to_s.downcase <=> b.to_s.downcase }.collect { |u| [u.name, u.id]}, { } %>
</p>
<p>
  <%= f.text_field :comment %>
</p>
<p>
  <%= f.select :billing_status, BillingStatus.to_array, { :required => true, :selected => @vendor_invoice.billing_status_id} %>
</p>

<% if @vendor_invoice.fixed? %>
<p>
  <%= f.text_field :amount %> <small>Enter only for Fixed Rate Invoices</small>
</p>
<p>
  <%= f.select :project_id, User.current.projects.find(:all).collect { |p| [p.name, p.id]}, { :include_blank => true }%> <small>Enter only for Fixed Rate Invoices</small>
</p>
<% else %>
<p>
  <%= f.label(:amount) %>
  <%= text_field_tag 'calc_amount', number_to_currency(@vendor_invoice.amount_for_user), { :disabled => true } %> <small>Calculated based on the Time Entries</small>
</p>

<% hours = @vendor_invoice.hours_without_rates %>
<% if hours > 0 %>
<p>
  <%= l(:label_vendor_invoice_hours_without_rates) %> 
  <%= link_to number_with_precision(@vendor_invoice.hours_without_rates), { :controller => 'timesheet', :action => 'report', :timesheet => { :vendor_invoice => @vendor_invoice.id }} %>

</p>
<% end # hours without rates%>
<% end %>
</fieldset>

<%= f.submit l(:button_save), :class => 'button-small'  %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "billing.css", :plugin => "billing_plugin", :media => "screen" %>
<% end %>
