<div class="contextual">
  <%= link_to l(:billing_create_new_vendor_invoice), new_accounts_payable_path, { :class => 'icon icon-add-invoice'} %>
  <%= link_to l(:billing_export_unbilled_po), formatted_unbilled_po_accounts_payables_path(:format => 'csv'), { :class => 'icon icon-csv' }%>
  <%= link_to l(:billing_export_unspent_labor_budget), formatted_unspent_labor_accounts_payables_path(:format => 'csv'), :class => 'icon icon-csv' %>
  <%= link_to l(:billing_export_unbilled_labor), formatted_unbilled_labor_accounts_payables_path(:format => 'csv'), :class => 'icon icon-csv' %>
</div>

<h2><%= l(:billing_accounts_payable_title)%></h2>

<%= render :partial => 'filters' %>

<h3><%= totals(@vendor_invoice_filter.vendor_invoices.values.reject {|i| i.empty?}.flatten.uniq) %></h2>

<% @vendor_invoice_filter.vendor_invoices.each do |user, vendor_invoices| %>

<% unless vendor_invoices.empty? %>

<% form_tag({}) do -%>	
<h3>
  <%= user.name %> <%= totals_for_user(user, vendor_invoices) %>
</h3>
<table class="list issues">
  <thead>
    <th scope="col" class="header-toggle">
      <%= link_to image_tag('toggle_check.png'), {}, :onclick => 'toggleIssuesSelection(Element.up(this, "table")); return false;',
                                                           :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
    </th>
    <th scope="col" class="header-date"><%= l(:label_date) %></th>
    <th scope="col" class="header-member"><%= l(:label_member) %></th>
    <th scope="col" class="header-invoice-number"><%= l(:label_vendor_invoice) %></th>
    <th scope="col" class="header-invoice-status"><%= l(:label_vendor_invoice_status) %></th>
    <th scope="col" class="header-invoice-hours"><%= l(:label_vendor_invoice_hours) %></th>
    <th scope="col" class="header-invoice-amount"><%= l(:label_vendor_invoice_amount) %></th>
    <th scope="col" class="header-invoice-type"><%= l(:label_vendor_invoice_billing_type) %></th>
    <th scope="col" class="header-invoice-comment"><%= l(:label_vendor_invoice_comment) %></th>
    <th scope="col" class="header-invoice-actions"></th>
  </thead>
  <tbody>
    <% vendor_invoices.each do |invoice| %>
    <tr class="<%= cycle("odd", "even") %> hascontextmenu">
      <td><%= check_box_tag 'ids[]', invoice.id, false, { :class => 'checkbox' } %></td>
      <td><%= format_date(invoice.invoiced_on) %></td>
      <td><%= user.name %></td>
      <td><%= vendor_invoice_number_for(invoice) %></td>
      <td><%= invoice.billing_status %></td>
      <td class="numeric"><%= user_hours_for_vendor_invoice(invoice, user) %></td>
      <td class="numeric"><%= user_amount_for_vendor_invoice(invoice, user) %></td>
      <td><%= invoice.humanize %></td>
      <td><%= h invoice.comment %></td>
      <td>
        <%= link_to image_tag('edit.png'), edit_accounts_payable_path(invoice), :title => l(:button_edit) %> 
      </td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end # form %>
<% end %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "billing.css", :plugin => "redmine_billing", :media => "screen" %>
  <%= javascript_include_tag 'context_menu' %>
  <%= stylesheet_link_tag 'context_menu' %>
<% end %>

<div id="context-menu" style="display: none;"></div>
<%= javascript_tag "new ContextMenu('#{url_for(:controller => 'accounts_payables', :action => 'context_menu')}')" %>
