<div class="contextual">
  <%= link_to l(:billing_create_new_vendor_invoice), new_accounts_payable_path %>
</div>

<h2><%= l(:billing_accounts_payable_title)%></h2>

<%= render :partial => 'filters' %>

<% @vendor_invoice_filter.vendor_invoices.each do |user, vendor_invoices| %>

<% unless vendor_invoices.empty? %>

<% form_tag({}) do -%>	
<h3>
  <%= user.name %> <%= totals_for_user(user, vendor_invoices) %>
</h3>
<table class="list issues">
  <thead>
    <th>
      <%= link_to image_tag('toggle_check.png'), {}, :onclick => 'toggleIssuesSelection(Element.up(this, "table")); return false;',
                                                           :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
    </th>
    <th><%= l(:label_date) %></th>
    <th><%= l(:label_member) %></th>
    <th><%= l(:label_vendor_invoice) %></th>
    <th><%= l(:label_vendor_invoice_status) %></th>
    <th><%= l(:label_vendor_invoice_hours) %></th>
    <th><%= l(:label_vendor_invoice_amount) %></th>
    <th><%= l(:label_vendor_invoice_billing_type) %></th>
    <th><%= l(:label_vendor_invoice_comment) %></th>
    <th></th>
  </thead>
  <tbody>
    <% vendor_invoices.each do |invoice| %>
    <tr class="<%= cycle("odd", "even") %> hascontextmenu">
      <%# TODO: Multi select %>
      <td align="center"><%= check_box_tag 'ids[]', invoice.id, false, { :class => 'checkbox' } %></td>
      <td align="center"><%= format_date(invoice.invoiced_on) %></td>
      <td align="center"><%= user.name %></td>
      <td align="center"><%= vendor_invoice_number_for(invoice) %></td>
      <td align="center"><%= invoice.billing_status %></td>
      <td align="center"><%= user_hours_for_vendor_invoice(invoice, user) %></td>
      <td align="center"><%= user_amount_for_vendor_invoice(invoice, user) %></td>
      <td align="center"><% invoice.billing_type %></td>
      <td><%= h invoice.comment %></td>
      <td align="center">
        <%= link_to image_tag('edit.png'), edit_accounts_payable_path(invoice), :title => l(:button_edit) %> 
      </td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end # form %>
<% end %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "billing.css", :plugin => "billing_plugin", :media => "screen" %>
  <%= javascript_include_tag 'context_menu' %>
  <%= stylesheet_link_tag 'context_menu' %>
<% end %>

<div id="context-menu" style="display: none;"></div>
<%= javascript_tag "new ContextMenu('#{url_for(:controller => 'accounts_payables', :action => 'context_menu')}')" %>
