<div class="contextual">
  <%= link_to l(:billing_create_new_vendor_invoice), new_accounts_payable_path %>
</div>

<h2><%= l(:billing_accounts_payable_title)%></h2>

<% @users.each do |user| %>

<% unless user.vendor_invoices.empty? %>

<h3><%= user.name %></h3>
<table class="list">
  <thead>
    <th></th>
    <th><%= l(:label_date) %></th>
    <th><%= l(:label_member) %></th>
    <th><%= l(:label_vendor_invoice) %></th>
    <th><%= l(:label_vendor_invoice_status) %></th>
    <th><%= l(:label_vendor_invoice_hours) %></th>
    <th><%= l(:label_vendor_invoice_amount) %></th>
    <th><%= l(:label_vendor_invoice_billing_type) %></th>
    <th><%= l(:label_vendor_invoice_comment) %></th>
    <th></th>
  </thead>
  <tbody>
    <% user.vendor_invoices.each do |invoice| %>
    <tr class="<%= cycle("odd", "even") %>">
      <%# TODO: Multi select %>
      <td align="center"><%= check_box_tag 'multi' %></td>
      <td align="center"><%= format_date(invoice.invoiced_on) %></td>
      <td align="center"><%= user.name %></td>
      <td align="center"><%= link_to invoice.number, accounts_payable_path(invoice) %></td>
      <td align="center"><%= invoice.billing_status %></td>
      <td align="center"><%# TODO: invoice.hours %></td>
      <td align="center"><%= invoice.amount %></td>
      <td align="center"><% invoice.billing_type %></td>
      <td><%= h invoice.comment %></td>
      <td align="center">
        <%= link_to image_tag('edit.png'), edit_accounts_payable_path(invoice), :title => l(:button_edit) %> 
      </td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>
<br />
<% end %>
