<h1><%= l(:billing_add_time_to_invoice) %></h1>

<% form_tag(update_time_entries_accounts_payables_path, :method => :put) do |f| %>
<% @time_entries.each do |entry| %>
<%= hidden_field_tag 'time_entry_ids[]', entry %>
<% end %>
<p>
  <%= select_tag('id',
    content_tag('option', "-- Invoices --", :value => '') +
                options_for_select(@vendor_invoices.sort {|a,b| a.user_names <=> b.user_names }.collect {|vendor_invoice| ["#{vendor_invoice.user_names} - #{vendor_invoice.number}", vendor_invoice.id]}),
                :include_blank => true ) %>
</p>

<p>
  <%= submit_tag(l(:billing_add_time_to_existing_invoice)) %>
</p>
<% end %>

<h3><%= l(:billing_create_new_vendor_invoice) %></h3>

<% form_tag(new_accounts_payable_path, :method => :get) do |f| %>
<% @time_entries.each do |entry| %>
<%= hidden_field_tag 'time_entry_ids[]', entry %>
<% end %>

<%= hidden_field_tag 'type', 'hourly' %>

<p>
  <%= submit_tag(l(:billing_create_new_vendor_invoice)) %>
</p>
<% end %>
